.container__icon {
    display: flex;
    align-items: center;
    /* border: aqua solid; */
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.icon {
    color: var(--primary-button);
}
@media screen and (max-width:768px) {
    .container__icon{
        /* border: red solid; */
        width: 25px;
        margin-right: 0;
        margin-left: 5px;
    }
    .icon{
        width: 15px;
        height: 15px;
    }
}