.banner__descripcion{
    color: var(--background);
    margin-left: 100px;
    padding-top: 25px;
    font-size: 2rem;
    font-family: oswald, sans-serif;
}
.banner__bold{
    font-weight: 700;
    color: var(--accent);
    transition: 600ms;
}
@media screen and (max-width:768px) {
    .banner__descripcion{
        margin-left: 20px;
        font-size: 1.5rem;
    }
}
@media screen and (max-width:375px) {
    .banner__descripcion{
        margin-left: 20px;
        font-size: 1.3rem;
    }
}