.container__card {
    /* border: black solid; */
    width: max-content;
    height: max-content;
}

.productos {
    /* border: blueviolet solid; */
    width: 83vw;
    height: max-content;
    margin-left: 100px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:768px) {
    .productos{
        margin-left: 20px;
        width: 700px;
        display: flex;
        flex-wrap: wrap;
    }
    .container__card:nth-child(n+5){
        display: none;
    }
}
@media screen and (max-width:375px) {
    .productos{
        width: 100%;
        height: 550px;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    }
    .container__card{
        width: 130px;
        height: 170px;
    }
    .container__card:nth-child(n+5){
        display: none;
    }
}